.container{
    padding: 90px 230px;
    width: 520px;
    height: 380px;
    position: fixed;
    margin-top: 170px;
    right: 19%;
    border-radius: 50px;
    background-color: #D9D9D9;
    border: none;
    opacity: 0.7;
}
button {
    background-color: #517386;
    margin: 40px;
    width: 320px;
    height:60px;
    border-radius: 70px;
    border: none;
    font-size: xx-large;
    position: center;
}
input[type=text], input[type=password] {
    width:50%;
    margin: 20px 0px;
    padding: 20px 30px;
    background-color: #517386;
    border-radius: 70px;
    align-items: center;
    box-sizing: border-box;
    border: none;
    right: 25px;
    top: 300px;
    position: relative;
}

body{
    background-image: url("D:\REACT\hellosam\public\3499040 2.png");
    background-size: 1600px 750px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
::placeholder{
    color: #000000;
    font-size: x-large;
    opacity: 900;
}
.top {
    position:absolute;
    top: 130px;
    right: 570px;
    font-size: 50px;
    font-style: normal;
    text-align: center;
}
.bottom {
    position: fixed;
    margin-top: 320px;
    left: 530px;
    font-size: 30px;
    font-style: bold;
}
.logo {
        
    position: absolute;
    top: 10px;
    right: 1330px;
}
