button {
    background-color: #084754;
    width: 40%;
    height: 70px;
    color: #084754;
    border-radius: 70px;
    border: none;
    font-size: xx-large;
    position: center;
    bottom: 100%;
    cursor: pointer;
}
input[type=text], input[type=password] {
    width: 80%;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: #084754;
    border-radius: 70px;
    align-items: center;
    box-sizing: border-box;
    border: none;
    position: relative;
}
button:hover{
    opacity: 0.5;
}

.container{
    padding: 60px;
    width: 900px;
    padding: 40px;
    position: fixed;
    margin-top: 170px;
    right: 17%;
    border-radius: 50px;
    background-color: #D9D9D9;
    border: 50px;
    border: none;
    opacity: 0.9;
}
body{
    background-image: url("D:\REACT\hellosam\src\FooDelicious\img\fpb.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
::placeholder{
    color: #C1D4D5;
    font-size: x-large;
    opacity: 900;
}
.top {
    position:absolute;
    top: 30px;
    right: 250px;
    font-size: 50px;
    font-style: normal;
    text-align: center;
}
.bottom {
    position: absolute;
    bottom: 200px;
    left: 600px;
    font-size: 30px;
    font-style: bold;
}
hr{
    height: 2px;
    border: none;
    background-color: #06617D;
    width: 109%;
    margin-left: -40px;
    margin-right: auto;
}

